---
layout: archive
permalink: /year-archive/
title: "Blog posts and Articles"
author_profile: true
redirect_from:
  - /wordpress/blog-posts/
---

{% include base_path %}

{% assign ordered = site.portfolio | where_exp: 'p', 'p.order' | sort: 'order' %}
{% assign unordered = site.portfolio | where_exp: 'p', 'p.order == nil' | sort: 'date' | reverse %}

{% for post in ordered %}
  {% include archive-single.html %}
{% endfor %}

{% for post in unordered %}
  {% include archive-single.html %}
{% endfor %}

